.btn{
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    background-color: #2e3347;
}

.btn-signup{
    border-radius: 8px;
    background-color: 	#d07619;
}

.btn-login{
    border-radius: 8px;
    background-color: #8b1b07;
}

input{
    border-radius: 5px;
    width: 100%;
    padding: 3px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f1f1f1;
}

/* log In */
.form-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

.form-container > div {
  width: 300px;
  margin-top: 107px;
  margin-left: 100px;
  background-color: #e2a74e;
  padding: 20px;
  border-radius: 5px;
}

.form-container > div > h2 {
    text-align: center;
    color: white;
}

.form-container > div > label {
    color: white;
}

.form-container-bg{
    background-image: url("../public/pizza_1.jpg");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrong-username-password {
    color: red;
}

/* end log In */

/* nav bar */

.container-navbar{
    display: flex;
    justify-content: flex-end;
    border:1px solid green;
    /* float:right; */
}

.container-navbar > div > a {
    /* margin: 40px; */
    /* padding: 20px; */
    width: 80%;
    border-radius: 20px;
    height:100%;
    background-color: #2e3347;
}

.btn-navbar{
    background-color: #0d6efd;
}

.btn-navbar-logout{
    background-color: #ffc107;
}

nav {
    display: flex;
    flex-direction: row;
}

/* end nav bar */

/* card food */
.card-food{
    border: 2px solid #d0d7df;
    width: 250px;
    border-radius: 8px;
}

.card-img{
    width: 250px;
    height: auto;
}

.btn-card-favorite{
    background-color: #B5A33F;
    padding: 5px;
    font-size: 14px;
}

.btn-card-detail{
    background-color: #344332;
    padding: 5px;
    font-size: 14px;
}
/* end card food */

/* home/dashboard */
.container-home{
    background-color: #e9ebe8;
}
.title-home {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.container-search-input{
    text-align: center;
}

.search-input-home{
    font-size: 15px;
    width: 400px;
}

.container-header-home{
    background-image: url("../public/food_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid red;
    height:205px
}
/* end home/dashboard */



